body {
  
}


/*------------------------wrappertop-----------------------*/



.wrappertop {
	border-bottom: 5px solid #FE9A2E;
	width: 1264px;
	background-color: black;
	margin: 0 auto;
}

.factionwrapper {
	float:left;
	margin-left: 5%;
	padding-bottom: 1px;
}

.menuwrapper {
	float:right;
	margin-top: 14px;
	margin-right: 25px;
	margin-bottom:19px;
	margin-left: 25px;
}


.logo {
	color: white;
	font-size: 27px;
	font-family: Impact, Charcoal, sans-serif;	
	margin-top: 10px;
	margin-bottom: 0;

}
.welcome {
	color: white;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-indent: 20px;	
	margin-top: 3px;
    margin-bottom: 0;
}



.welcome a {
	color: #5882FA;
	font: bold;
}

.welcome a:hover {
	color: #2E64FE;
}

.welcome a:active {
  color: #2E64FE;
}


.nav {
	width:409px;
	border-left: 50px;
	padding: 5px 5px;
	margin: 5px 5px;
	list-style: armenian;
}

span {
    margin-left: 11px;   
}

.nav li  {
	display: inline;
}

.nav a  {
	color: white;
	font: 20px "Arial Black", Gadget, sans-serif bold;
	text-decoration: none;
}






/*------------------------wrapperus------------------------*/
.wrapperus {
    
	margin: 0 auto;
	height: 325px;
	background: url("../img/bg.jpg") repeat;
	width: 1264px;
	border-bottom: 2px solid #A4A4A4;


		
	
}

.imagewrapper {
	float: left;
	border: 5px solid #FFFFF0;
	margin-left: 19%;
	margin-top: 25px
}

.wahoowrapper {
	
	float: left;
	width: 400px;
	margin-left:2%;
	margin-top:35px;

	
}

.aboutus {
	font: 21px "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	text-align: left;
}

.slogan {
	font: 27px "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif bold;
	text-align: left;
}





/*------------------------wrappermain----------------------*/

.wrappermain {
    margin: 0 auto;
	background: url("../img/Dota-2-Wallpaper1.jpg") no-repeat;
	background-size: 100%;
	width: 1264px;
}


.gameplay {
	float: left;
	height: 550px;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.2);
	border-left: 2px solid;
	border-right: 2px solid;
	margin-left: 10%
	
}

.gameplayheader {
	
	
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;	
	color: white;

	
}

.youtube {

}

.news {
	float: left;
	background-color: rgba(255, 255, 255, 0.9);
	width: 400px;
	padding-right: 26px;
	border-right: 2px solid;
}

.newsheader {

	text-align: center;
	font-family: Impact, Charcoal, sans-serif;	
}



.newslist p  {
	text-align: justify;
	/*font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif*/

}

.button {
    width: 20em;  height: 2em;
}


.footer {
	margin: 0 auto;
	background: url("../img/bg.jpg")  repeat;
	width: 1264px;
}

.lf {
	float:left;
	margin-left: 1%;
}

.rf {
	float:right;
	margin-right: 1%;
}


.clear {
	clear:both;
	background-color: red;
	width: 120px;
	height:20px;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0px;
	line-height:0px;
}


