body {
	
}

/*-----------------------------wrappertop------------------------------*/

.wrappertop {
	border-bottom: 5px solid #FE9A2E;
	width: 1264px;
	height: 100px;
	background-color: black;
	margin: 0 auto;
}

.factionwrapper {
	float:left;
	margin-left: 5%;
}

.menuwrapper {
	float:right;
	margin: 25px;
}


.logo {
	color: white;
	font-size: 27px;
	font-family: Impact, Charcoal, sans-serif;	

}
.welcome {
	color: white;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-indent: 20px;	

}



.welcome a {
	color: #5882FA;
	font: bold;
}

.welcome a:hover {
	color: #2E64FE;
}

.welcome a:active {
  color: #2E64FE;
}


.nav {
	width:409px;
	border-left: 50px;
	padding: 5px 5px;
	margin: 5px 5px;
	list-style: armenian;
}

span {
    margin-left: 11px;   
}

.nav li  {
	display: inline;
}

.nav a  {
	color: white;
	font: 20px "Arial Black", Gadget, sans-serif bold;
	text-decoration: none;
}

/*-----------------------------header------------------------------*/
.header {
  width: 1264px;
  background: url("../img/bg.jpg") repeat;
  height: 500px;
}

.head_resize {
	width: 100px;
	background-color: yellow;
	height: 200px;
}